main{
    min-height: 80vh;
}

h3{
    padding: 1rem 0;
}

.rating span {
    margin: 0.1rem
}

.image-zoom-container {
    position: relative;
    overflow: hidden;
  }
  
.image-zoom-container img {
    transition: transform 0.3s ease;
  }
  
.image-zoom-container:hover img {
    transform: scale(1.2); /* Adjust the scale value to control the zoom level */
  }
  